<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Contact</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Jeremiah Igrami" >
        <meta name="description" content="Thanos Quotes Ipsum provides all of Thanos' lines from the Avengers series and beyond.">

        <link rel="stylesheet" href="/static/css/contact.css">

    </head>
    <body>
        <div class="wrapper">
            <header>
                <nav>
                    <ul class="nav-list">
                        <li class="nav-item"><a href="/">Sweet Home</a></li>
                        <li class="nav-item"><a href="/documentation">API documentation</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <section class="contact">
                    <article>
                        <h1>Wanna say hi?</h1>   
                        <p>Or . . . wait a minute. Did you build that million-dollar SAAS app with TAPI and want to send me a cut?</p>
                        <p>Go ahead, make my day:</p>
                        <a href="mailto:jegrami.dev@gmail.com">Email me</a>
                    </article>
                    <article>
                        <p>I'm also on </p>
                        <ul>
                            <li><a href="https://twitter.com/je_grami">X</a></li>
                            <li><a href="https://linkedin.com/in/jeremiah-igrami">LinkedIn</a></li>
                        </ul>
                        <p> Let's be friends.</p>
                    </article>
                </section>
            </main>

            <footer class="footer">
                <div class="footer-links contact">
                    <p>The dork who made this thing has a <a href="https://jegrami.com">website</a>.</p>
                    <p><a href="/documentation">API Documentation</a></p>
                </div>        
            </footer>    
        </div>
        
    </body>
</html>