<!doctype html>
<html lang="en">
    <head>
        <title>Thanos Quotes Ipsum</title>

        <!--Meta for Google and the rest-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Jeremiah Igrami" >
        <meta name="description" content="Thanos Quotes Ipsum provides all of Thanos' lines from the Avengers series and beyond.">

        <!--Meta for social media -->
        <meta property="og:title" content="Thanos Quotes Ipsum">
        <meta property="og:url" content="http://badthanos.com/" />
        <meta property="og:type" content="article" />
        <meta property="og:description" content="Thanos Quotes Ipsum provides all of Thanos' lines from the Avengers series and beyond.">
        <meta property="og:image" content="" />

        <meta name="twitter:site" content="@je_grami">
        <meta name="twitter:title" content="Thanos Quotes Ipsum" />
        <meta name="twitter:url" content="http://badthanos.com/" />
        <meta name="twitter:card" content="Thanos Quotes Ipsum provides all of Thanos' lines from the Avengers series and beyond.">
        <meta name="twitter:description" content="Thanos Quotes Ipsum provides all of Thanos' lines from the Avengers series and beyond.">
        <meta name="twitter:image" content="" />

        <!-- Links -->
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />

    
    </head>
    <body>

        <header class="page-head">
            <div class="page-title">
                <h1 id="page-brand">Thanos Ipsum</h1>
                <nav class="navbar">                
                    <ul class="nav-list">
                        <li class="nav-item"><a  href="/contact">Contact</a></li>
                        <li class="nav-item"><a href="/documentation">API documentation</a></li>
                    </ul>
                </nav>
            </div>
            <div class="page-subtitle">
                <h2 class="hero-title">Thanos The Mad Titan</h2>
                <p class="hero-subtitle">Dark quotes from the intergalactic warlord</p>

            </div>
            
        </header>

        <main>
            <!-- ===Hero section=== -->
            <section class="hero container">

                <div class="hero-content">

                    <div class="profile text-gold">
                        <h3 class="profile-title">Profile</h3>
                        <dl>
                            <dt>Name</dt>
                            <dd>Thanos</dd>
                            <dt>Species</dt>
                            <dd>Eternel-Deviant hybrid</dd>
                            <dt>Race</dt>
                            <dd>Titanian Eternal</dd>
                            <dt>Birthplace</dt>
                            <dd>Titan</dd>
                            <dt>Parents</dt>
                            <dd>A'Lars and Sui-San</dd>
                            <dt>Titles</dt>
                            <dd>
                                Warlord, Conqueror, Prince of Titan, Ruler of the Chitauri,
                                Prime Eternal
                            </dd>
                            <dt>Aliases</dt>
                            <dd>
                                Dione, The Mad Titan, Captain Genocide, Prune Chin,
                                Death's Consort
                            </dd>
                            <dt>Abilities</dt>
                            <dd>
                                Superhuman strength, speed, stamina, and agility; genius-level intellect;
                                master tactician; skilled hand-to-hand combatant
                            </dd>
                        </dl>
                        
                    </div>

                    <div class="hero-story text-gold">
                        <h3 class="hero-story-title">Origin Story</h3>
                        <p>Thanos was born on Titan (the sixth orbiting moon of Saturn) as the son of 
                            A'Lars and Sui-San. 
                        </p>
                        <p>
                            An Eternal with Deviant genes, Thanos embodys a lethal combination of 
                            unmatched strength, genius-level intellect, and a grim determination to 
                            bring "stability" to the universe by eliminating half of its population.
                            
                        </p>
                        <p>His resume includes conquering planets, defeating gods, wiping out 50% of all living creatures, 
                            and reducing the Avengers (Earth's mightiest heroes) to a shattered remnant drowning in regret.
                        </p>
                    </div>
                </div>  

            </section>
            
            <!-- ===Output section=== -->
            <section class="output container">
                <p class="output-lede">
                    Ready to witness some words of doom from the universe's greatest supervillain?
                </p>

                <div class="form-container">

                    <div class="form-group limit">
                      <h2 class="form-group-title">Limit</h2>
                      <p class="form-group-prompt">How many do you want?</p>
                      <select id="limit" class="medium-select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option selected="selected" value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                  
                    <div class="form-group movie">
                      <h2 class="form-group-title">Movie</h2>
                      <p class="form-group-prompt">Which movie?</p>
                      <select id="movie" class="medium-select">
                        <option value="" selected="selected"></option>
                        <option value="Avengers: Infinity War">Avengers: Infinity War</option>
                        <option value="Avengers: Endgame">Avengers: Endgame</option>
                        <option value="Guardians of the Galaxy">Guardians of the Galaxy</option>
                        <option value="Avengers: Age of Ultron">Avengers: Age of Ultron</option>
                      </select>
                    </div>
                    
                  </div>                  
     

                <div class="button-container">
                    <button id="summon" class="button-item">Summon quote</button>
                    <button id="copy" class="button-item">Copy</button> 
                </div>   
                

                <div id="quote-box" class="quote-box">
                   Quotes will appear here . . . 
                </div>

            </section>

        </main>
        <footer>
            <div class="footer-blurb">
                <p>&copy; 2025. Blah blah blah <b>|</b> Thanos The Mad Titan.</p>
                <p>Half of all life preserved.</p>

            </div>
            <div class="footer-links">
                <p>
                    The dork who made this thing has a <a href="https://jegrami.com">website</a>.
                </p>
                <p>Developer? Check out the <a href="/documentation">API Documentation</a></p>

            </div>        
        </footer>
        <script src="/static/js/script.js" defer></script>
    </body>
</html>